// Colors
color-default = #4f5759
color-title = #222
color-border = #ddd
color-link = #33a6b8
color-background = #fff
color-meta = #999
color-footer = #777

@import url("http://fonts.googleapis.com/css?family=PT+Mono&subset=latin,cyrillic");
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic");
@import url("http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,300&subset=cyrillic");
// Fonts

font-sans = 'PT Sans',sans-serif
font-serif = 'PT Serif', Georgia, serif
font-mono = "PT Mono", Consolas, Monaco, Menlo, Consolas, monospace
font-slab = 'Roboto Slab'
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 100%
line-height = 2em